@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

body {
    background-color: #F2EFEA;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1vw;

}

.post {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: white;
    margin: 2em;
    border-radius: 0.5em;
}

#title-wrapper {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(15em, 25em));
}

h1 {
    font-size: 1.5em;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    padding: 1em;
    color: white;
    background: black;
}

h2 {
    font-family: 'Lora', serif;
    color: #666666;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #666666;
    margin-bottom: -1vw;
    font-weight: 800;
}
p {
    font-family: 'Lora', serif;
}

img {
    max-width: 100%;
    height: auto;

}

#sub-header {
 margin-left: 1%;
text-transform: uppercase;
}

button {
    font-family: 'Roboto', sans-serif;
    margin: 1em 30% 1em 30%;
    padding: 0.3em;
    text-transform:uppercase;
    color: #73423D;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.12em;
    background-color: white;
    border: 0.15em solid #73423D;
    border-radius: 0.2em;
    transition: 0.3s;
}

button:hover {
    background-color: #73423D;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


.line {
    background-color:#666666;
    height: 0.1px;
    margin-top: -1vw;
}
